<div class="tab-pane fade show" id="trips" role="tabpanel" aria-labelledby="trip-tab">
    <h2 class="text-center">Sorties</h2>
    <p class="text-center"><a class="btn btn-success" href="{{ path('admin_trip_add') }}">Ajouter une sortie</a></p>
    <table id="userTable" class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>date</th>
            <th>fin inscription</th>
            <th>durée</th>
            <th>nb max</th>
            <th>nb min</th>
            <th>organisateur</th>
            <th>lieu</th>
            <th>ville</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {%  for trip in allTrips %}
            <tr>
                <td>{{ trip.id }}</td>
                <td>{{ trip.name }}</td>
                <td>{{ trip.name }}</td>
                <td>{{ trip.name }}</td>
                <td>{{ trip.name }}</td>
                <td>{{ trip.name }}</td>
                <td>{{ trip.name }}</td>
                <td>{{ trip.name }}</td>
                <td>{{ trip.name }}</td>
                <td>{{ trip.name }}</td>
                <td><a href="{{ path('admin_user_update',{ 'id': trip.id }) }}" class="btn btn-sm btn-outline-primary"><i class="fas fa-user-edit"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>