{% extends 'layout.html.twig' %}
{% form_theme tripFormView 'bootstrap_4_layout.html.twig' %}
{% block title %} Créer une sortie {% endblock %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="form_container">
                <h4 class="text-center">Sortie : {{ currentTrip.name }}</h4>
                <hr>
                <dl>
                    <dt>Date et heure de la sortie :</dt>
                    <dd>{{ currentTrip.dateTimeStart|date("m/d/Y") }}</dd>

                    <dt>Ville organisatrice :</dt>
                    <dd>{{ currentTrip.school.name }}</dd>

                    <dt>Localisation :</dt>
                    <dd>{{ currentTrip.location.name }}</dd>
                    <dd>{{ currentTrip.location.street }}</dd>
                    <dd>{{ currentTrip.location.city.zipCode }} {{ currentTrip.location.city.name }}</dd>

                    <dt>Motif d'annulation :</dt>
                    <dd> {{ form_widget(tripFormView.reason) }}</dd>
                    <dd> {{ form_errors(tripFormView.reason) }}</dd>
                </dl>
                <a class="btn neumorphism-1" type="submit" href="{{ path('trip_cancel') }}">Enregistrer</a>


            </div>
        </div>
        <div class="col-md-4">
            <a class="btn neumorphism-1" href="{{ path('home') }}">Retour</a>
        </div>
    </div>
</div>

{% endblock %}
