{% extends 'layout.html.twig' %}

{% block title %} Créer une sortie {% endblock %}

{% block body %}

    <h1>Créer une sortie</h1>

    {{ form_start(tripFormView) }}
{#    {{ form_start(trip_LocationFormView) }}#}
{#    {{ form_start(cityFormView) }}#}
    <br>
    {{ form_label(tripFormView.name) }}
    {{ form_widget(tripFormView.name) }}
    {{ form_errors(tripFormView.name) }}
    <br>
    {{ form_label(tripFormView.dateTimeStart) }}
    {{ form_widget(tripFormView.dateTimeStart) }}
    {{ form_errors(tripFormView.dateTimeStart) }}
    <br>
    {{ form_label(tripFormView.registDeadline) }}
    {{ form_widget(tripFormView.registDeadline) }}
    {{ form_errors(tripFormView.registDeadline) }}
    <br>
    {{ form_label(tripFormView.nbRegistMax) }}
    {{ form_widget(tripFormView.nbRegistMax) }}
    {{ form_errors(tripFormView.nbRegistMax) }}
    <br>
    {{ form_label(tripFormView.nbRegistMin) }}
    {{ form_widget(tripFormView.nbRegistMin) }}
    {{ form_errors(tripFormView.nbRegistMin) }}
    <br>
    {{ form_label(tripFormView.duration) }}
    {{ form_widget(tripFormView.duration) }}
    {{ form_errors(tripFormView.duration) }}
    <br>
    <br>
    {{ form_label(tripFormView.info) }}
    {{ form_widget(tripFormView.info) }}
    {{ form_errors(tripFormView.info) }}
    <br>
{#    {{ form_label(cityFormView.name) }}#}
{#    {{ form_widget(cityFormView.name) }}#}
{#    {{ form_errors(cityFormView.name) }}#}
{#    <br>#}
{#    {{ form_label(trip_LocationFormView.name) }}#}
{#    {{ form_widget(trip_LocationFormView.name) }}#}
{#    {{ form_errors(trip_LocationFormView.name) }}#}
{#    <br>#}
{#    {{ form_label(trip_LocationFormView.street) }}#}
{#    {{ form_widget(trip_LocationFormView.street) }}#}
{#    {{ form_errors(trip_LocationFormView.street) }}#}
{#    <br>#}
{#    {{ form_label(cityFormView.zipCode) }}#}
{#    {{ form_widget(cityFormView.zipCode) }}#}
{#    {{ form_errors(cityFormView.zipCode) }}#}
{#    <br>#}
{#    {{ form_label(trip_LocationFormView.latitude) }}#}
{#    {{ form_widget(trip_LocationFormView.latitude) }}#}
{#    {{ form_errors(trip_LocationFormView.latitude) }}#}
{#    <br>#}
{#    {{ form_label(trip_LocationFormView.longitude) }}#}
{#    {{ form_widget(trip_LocationFormView.longitude) }}#}
{#    {{ form_errors(trip_LocationFormView.longitude) }}#}
{#    <br>#}
{#    {{ form_end(trip_LocationFormView) }}#}
    {{ form_end(tripFormView) }}
{#    {{ form_end(cityFormView) }}#}

{% endblock %}
