{% extends 'layout.html.twig' %}
{% form_theme tripFormView 'bootstrap_4_layout.html.twig' %}
{% block title %} Créer une sortie {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form_container">
                    <h4 class="text-center">Création d'une sortie</h4>
                    <hr>
                    {{ form_start(tripFormView) }}
                    <br>
                    {{ form_label(tripFormView.name) }}
                    {{ form_widget(tripFormView.name) }}
                    {{ form_errors(tripFormView.name) }}
                    <br>
                    {{ form_label(tripFormView.dateTimeStart) }}
                    {{ form_widget(tripFormView.dateTimeStart) }}
                    {{ form_errors(tripFormView.dateTimeStart) }}
                    <br>
                    {{ form_label(tripFormView.registDeadline) }}
                    {{ form_widget(tripFormView.registDeadline) }}
                    {{ form_errors(tripFormView.registDeadline) }}
                    <br>
                    {{ form_label(tripFormView.nbRegistMin) }}
                    {{ form_widget(tripFormView.nbRegistMin) }}
                    {{ form_errors(tripFormView.nbRegistMin) }}
                    <br>
                    {{ form_label(tripFormView.nbRegistMax) }}
                    {{ form_widget(tripFormView.nbRegistMax) }}
                    {{ form_errors(tripFormView.nbRegistMax) }}
                    <br>
                    {{ form_label(tripFormView.duration) }}
                    {{ form_widget(tripFormView.duration) }}
                    {{ form_errors(tripFormView.duration) }}
                    <br>
                    <br>
                    {{ form_label(tripFormView.info) }}
                    {{ form_widget(tripFormView.info) }}
                    {{ form_errors(tripFormView.info) }}
                    <br>
                    {{ form_label(tripFormView.school) }}
                    {{ form_widget(tripFormView.school) }}
                    {{ form_errors(tripFormView.school) }}
                    <br>

                    <br>
                    {{ form_label(tripFormView.location) }}
                    {{ form_widget(tripFormView.location) }}
                    {{ form_errors(tripFormView.location) }}
                    <a href="createLocation">Ajouter un nouveau lieu</a>
                    <br>
                    {{ form_end(tripFormView) }}


                </div>
            </div>
            <div class="col-md-4">
                <a class="btn neumorphism-1" href="{{ path('home') }}">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}
