{% extends 'layout.html.twig' %}
{% block title %} Détail d'une sortie {% endblock %}
{% block stylesheets %}
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="bloc">
                    <h4 class="text-center underlined">Sortie : {{ currentTrip.name }}</h4>
                    <div class="text-center">
                        <p>
                            <i class="far fa-calendar-alt fa-1x orange"></i> {{ currentTrip.dateTimeStart|format_datetime('full', 'none', locale='fr') }}
                            <i class="far fa-clock fa-1x orange"></i> {{ currentTrip.dateTimeStart|format_datetime('none', 'short', locale='fr') }}
                        </p>
                        <p>
                            <i class="far fa-calendar-times fa-1x orange"></i> {{ currentTrip.registDeadline|format_datetime('full', 'none', locale='fr') }}
                        </p>
                        <p><span style="padding: 1em"><i class="fas fa-user fa-1x orange"></i> {{ currentTrip.nbRegistMin }}</span>
                            <span><i class="fas fa-users fa-1x orange"></i> {{ currentTrip.nbRegistMax }}</span></p>
                        <p><i class="far fa-hourglass fa-1x orange"></i> {{ (currentTrip.duration/60)|round(1,'floor') }} heure(s)</p>
                        <div><i class="far fa-question-circle fa-1x orange"></i><br> <p class="text-justify">{{ currentTrip.info }}</p></div>
                        <p><i class="fas fa-university fa-1x orange"></i> {{ currentTrip.school.name }}</p>
                        <p><i class="fas fa-map-marker-alt fa-1x orange"></i> {{ currentTrip.location.name }},
                            {{ currentTrip.location.street }},
                            {{ currentTrip.location.city.zipCode }} {{ currentTrip.location.city.name }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bloc">
                    <h4 class="text-center underlined">Etat de la sortie</h4>
                    <h5 class="text-center">{{ currentTrip.state.info }}</h5>
                </div>
                <div class="bloc mt-2">
                    <h4 class="underlined">Organisateur</h4>
                    <div class="row">
                        <div class="col-12">
                            {% if currentTrip.user.avatarName is not empty %}
                                <img src="{{ asset('users/' ~ currentTrip.user.id ~ '/avatar/' ~ currentTrip.user.avatarName) }}"
                                     class="rounded-circle" width="50" height="50">
                            {% else %}
                                <img src="{{ asset('users/defaultAvatar/default-avatar.jpg') }}"
                                     class="rounded-circle" width="50" height="50">

                            {% endif %}
                            <a href="{{ path('user_detail', {'id' : currentTrip.user.id, 'idtrip':currentTrip.id}) }}">{{ currentTrip.user.firstName|slice(0,1)|capitalize }}. {{ currentTrip.user.name|capitalize }}
                                </a>
                        </div>
                    </div>
                </div>
                <div class="bloc mt-2">

                    {# Modal des participants#}
                    <div class="modal fade" id="usersmodal" tabindex="-1" role="dialog" aria-labelledby="usersmodal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title" id="exampleModalLabel">Participants <small>({{ currentTrip.users|length }})</small></h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <ul class="list-unstyled">
                                        {% for u in allUsers %}
                                            <li class="list p-2">
                                                {% if u.avatarName is not empty %}
                                                    <img src="{{ asset('users/' ~ u.id ~ '/avatar/' ~ u.avatarName) }}"
                                                         class="rounded-circle" width="50" height="50">
                                                {% else %}
                                                    <img src="{{ asset('users/defaultAvatar/default-avatar.jpg') }}"
                                                         class="rounded-circle" width="50" height="50">

                                                {% endif %}
                                                  {{ u.name }}
                                                    {{ u.firstName }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="underlined">Participants <a href="" data-toggle="modal" data-target="#usersmodal"><small> ({{ currentTrip.users|length }})</small></a> </h4>
                    <div class="row">
                        {% if currentTrip.users|length == 0 and not currentTrip.isCanceled(currentTrip.state.id) and not currentTrip.tripClosed(currentTrip.state.id) and not currentTrip.tripPast(currentTrip.state.id) %}
                            <p class="text-center"> Soyez le premier à vous inscrire </p>
                        {% endif %}
                        <ul class="list-inline">
                        {% for u in allUsers %}
                            <li class="list-inline-item" data-toggle="tooltip" data-placement="top" title="{{ u.name}} {{ u.firstName }}">
                                {% if u.avatarName is not empty %}
                                    <img src="{{ asset('users/' ~ u.id ~ '/avatar/' ~ u.avatarName) }}"
                                         class="rounded-circle" width="50" height="50">
                                {% else %}
                                    <img src="{{ asset('users/defaultAvatar/default-avatar.jpg') }}"
                                         class="rounded-circle" width="50" height="50">

                                {% endif %}
{#                                {{ u.name }}#}
{#                                {{ u.firstName }}#}
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-12">
                        {% if app.user is not null %}


                            {# Sortie: STATUT PASSEE #}

                            {% if currentTrip.tripPast(currentTrip.state.id) %}
                                <a class="btn neumorphism-1" href="{{ path('trip_summary', {'id':currentTrip.id}) }}">Récapitulatif</a>
                            {% endif %}

                            {# Sortie: STATUT EN CREATION / Organisateur connecté: OUI #}
                            {% if currentTrip.tripCreation(currentTrip.state.id) and currentTrip.userOrOrganizer(app.user) %}
                                <a class="btn neumorphism-1"
                                   href="{{ path('trip_update', {'id':currentTrip.id}) }}">Modifier</a>

                            {% endif %}

                            {# Sortie: STATUT ANNULE / Organisateur connecté: OUI #}
                            {% if currentTrip.isCanceled(currentTrip.state.id) and currentTrip.userOrOrganizer(app.user) %}
                                <a class="btn neumorphism-1"
                                   href="{{ path('trip_update', {'id':currentTrip.id}) }}">Modifier</a>
                            {% endif %}

                            {# Sortie: STATUT CLOTUREE #}
                            {% if currentTrip.tripClosed(currentTrip.state.id) %}

                            {% endif %}

                            {# Sortie: STATUT EN COURS #}
                            {% if currentTrip.isInProgress(currentTrip.state.id) %}
                            {% endif %}

                            {# Sortie: STATUT OUVERTE #}
                            {% if currentTrip.tripOpen(currentTrip.state.id) %}
                                {# Utilisateur connecté: NON INSCRIT #}
                                {% if currentTrip.isNotSubscribed(app.user,currentTrip.users|length,currentTrip.nbRegistMax) %}
                                    <a class="btn neumorphism-1"
                                       href="{{ path('trip_inscription', {'id':currentTrip.id }) }}"><span>S'inscrire</span></a>
                                    {# Utilisateur connecté: INSCRIT #}
                                {% elseif currentTrip.isSubscribed(app.user) %}
                                    <a class="btn neumorphism-1"
                                       href="{{ path('trip_unsubscribe', {'id':currentTrip.id}) }}"><span>Se désister</span></a>
                                {% endif %}
                            {% endif %}

                            {# Sortie: STATUT OUVERTE / Organisateur connecté: OUI #}
                            {% if currentTrip.tripOpen(currentTrip.state.id) and currentTrip.userOrOrganizer(app.user) %}
                                <a class="btn neumorphism-1"
                                   href="{{ path('trip_cancel', {'id':currentTrip.id}) }} ">Annuler la sortie</a>
                            {% endif %}

                        {% endif %}
                        <a class="btn neumorphism-1" href="{{ path('home') }}">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div id="mapTripDetail">

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {% set marker = asset('assets/css/marker.png') %}
    <script>
    function initMap() {
    var myLatLng = {lat: {{currentTrip.getLocation.getLatitude()}}, lng: {{currentTrip.getLocation.getLongitude()}}};

    var map = new google.maps.Map(document.getElementById('mapTripDetail'), {
    zoom: 13,
    center: myLatLng,
        styles: [
            {
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#f5f5f5"
                    }
                ]
            },
            {
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#616161"
                    }
                ]
            },
            {
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "color": "#f5f5f5"
                    }
                ]
            },
            {
                "featureType": "administrative.land_parcel",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#bdbdbd"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#eeeeee"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#757575"
                    }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#e5e5e5"
                    }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#9e9e9e"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#ffffff"
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#757575"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#dadada"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#616161"
                    }
                ]
            },
            {
                "featureType": "road.local",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#9e9e9e"
                    }
                ]
            },
            {
                "featureType": "transit.line",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#e5e5e5"
                    }
                ]
            },
            {
                "featureType": "transit.station",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#eeeeee"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#c9c9c9"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#9e9e9e"
                    }
                ]
            }
        ]
    });
        var image = "{{marker}}";
        var contentString = '<div id="content">'+
            '<h5>{{currentTrip.name}}</h5>'+
             '<p>{{ currentTrip.getLocation.name }} : {{ currentTrip.getLocation.street }}, {{ currentTrip.getLocation.city.name }}</p>'+
                '<p><hr>{{ currentTrip.info }}</p>'+
        '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });




        var marker = new google.maps.Marker({
            position: myLatLng,
            icon: image,
            title:"Hello World!"
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });


// To add the marker to the map, call setMap();
        marker.setMap(map);

    }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCc4FIU239oleSDmVnMUvl2c7rUyLFYSW0&callback=initMap">
    </script>

{% endblock %}