{% extends 'layout.html.twig' %}
{% form_theme searchFormView 'bootstrap_4_layout.html.twig' %}
{% block title %}Liste des sorties{% endblock %}

{% block body %}

    <div class="container-fluid search_container p-3">
        <div class="container text-center">
            <div class="logo_part py-4">
                <a class="" href="{{path('home')}}">
                    <img src="{{ asset('img/eni-sortir-white.png') }}" alt="ENI -> sortir" class="img-fluid">
                    <span class="d-none">Sortir.com</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-light text-dark border-dark border">
        <button class="btn btn-sm btn-outline-info collapseFilter" data-toggle="collapse" href="#filterDiv" role="button" aria-expanded="false" aria-controls="filterDiv">Filtres</button>
        <div class="row">
            <div class="col-12 p-5">
                <div class=" Xfilter_container collapse multi-collapse" id="filterDiv">
                    {{ form_start(searchFormView) }}
                    <div class="row ">
                        <div class="col-12 col-sm-6 12 col-md-3 form-group input-group-sm text-left">
                            <label for="tableSearch">Recherche</label>
                            <input class="form-control" id="tableSearch" type="text" placeholder="recherche...">
                        </div>

                        <div class="col-12 col-sm-6 col-md-3 form-group input-group-sm text-left">
                            {{ form_label(searchFormView.site) }}
                            {{ form_widget(searchFormView.site) }}
                            {{ form_errors(searchFormView.site) }}
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 form-group input-group-sm text-left">
                            {{ form_label(searchFormView.dateStart) }}
                            {{ form_widget(searchFormView.dateStart) }}
                            {{ form_errors(searchFormView.dateStart) }}
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 form-group input-group-sm text-left">
                            {{ form_label(searchFormView.dateEnd) }}
                            {{ form_widget(searchFormView.dateEnd) }}
                            {{ form_errors(searchFormView.dateEnd) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3 col-xl-2 offset-xl-6 form-group input-group-sm text-left ">
                          {#  {{ form_label(searchFormView.TripOrganizer) }}#}
                            {{ form_widget(searchFormView.TripOrganizer) }}
                            {{ form_errors(searchFormView.TripOrganizer) }}
                        </div>

                        <div class="col-12 col-sm-6 col-md-3 col-xl-2 form-group input-group-sm text-left ">
                           {# {{ form_label(searchFormView.RadioOrNot) }}#}
                            {{ form_widget(searchFormView.RadioOrNot) }}
                            {{ form_errors(searchFormView.RadioOrNot) }}
                        </div>

                        <div class="col-12 col-sm-6 col-md-3 col-xl-2 form-group input-group-sm text-left check_part">
                           {# {{ form_label(searchFormView.TripPast) }}#}
                            {{ form_widget(searchFormView.TripPast) }}
                            {{ form_errors(searchFormView.TripPast) }}
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-12  text-center ">
                            {{ form_end(searchFormView) }}
                        </div>

<<<<<<< HEAD
=======
{#                        {% if app.user.id is defined %}#}
{#                            <div class="col-12 col-md-6 text-left">#}
{#                                <a class="btn-success btn" href="{{ path('trip_create') }}">Créer une sortie</a>#}
{#                            </div>#}
{#                        {% endif %}#}
>>>>>>> 2294abe5338bd2a50dbf6b185c75e0d3f461e3d5
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="" >
            <div class="grid">
                {% if allTrips|length > 0 %}
                    {% for trip in allTrips %}
                        {% if trip.category %}
                            {% set cat = trip.category.id %}
                        {% else %}
                            {% set cat = "default" %}
                        {% endif %}
                        {% if loop.first or loop.index is divisible by(9) %}
                            <div  class="col-12 col-sm-6 col-md-4 col-xl-3 p-2 grid-item  grid-item-add" >
                                <a href="{{ path('trip_create') }}" class="card  text-center p-2">
                                    <h3><i class="fas fa-map-marked-alt fa-2x"></i><span class="d-block mt-2">Créer votre sortie !</span></h3>
                                </a>
                            </div>
                        {% endif %}

                        <div id="trip_{{ trip.getId() }}" class="col-12 col-sm-6 col-md-4 col-xl-3 p-2 grid-item " >
                            <a href="{{ path('trip_detail',{ 'id': trip.id }) }}" class="card bg_white p-2">

                                <span class="overlay d-none d-lg-block" style="background:url({{asset('img/categories/'~ cat ~'.jpg')}}) no-repeat center center /cover">
                                     <div class="items head">
                                        <h3 class="orange">{{ trip.name }}</h3>
                                    </div>
                                </span>

                                <div class="content">
                                    <span class="bg_cat d-block d-lg-none" style="background:url({{asset('img/categories/'~ cat ~'.jpg')}}) no-repeat center center /cover"></span>
                                    <div class="items head">
                                        <h2>{{ trip.name }}</h2>
                                        <hr>
                                    </div>
                                    <div class="items body d">
                                        <p class="date text-dark">le {{ trip.getDateTimeStart()|date("l d M G:i") }}</p>
                                        <p class="new text-dark d-none d-lg-block">{{ trip.getLocation().getName() }}<br><small>{{ trip.getLocation().getCity().getName() }}</small></p>
                                        <p class="users text-dark d-none d-lg-block" data-toggle="tooltip" data-placement="top" title="nb mini : {{ trip.getNbRegistMin() }}">Participants : {{ trip.getUsers()|length }} / {{ trip.getNbRegistMax() }}</p>
                                        <p class="text-dark d-none d-lg-block">{{ trip.state.info }}</p>
                                    </div>
                                    <p class="school text-left d-none"><small>{{ trip.getSchool().getName() }}</small></p>
                                    <p class="date text-center d-none">le {{ trip.getDateTimeStart()|date("l d M G:i") }}</p>
                                    <p class="address d-none"><address class="d-none"><small>
                                            {{ trip.getLocation().getName() }}<br>
                                            {{ trip.getLocation().getStreet() }}<br>
                                            {{ trip.getLocation().getCity().getName() }} ({{ trip.getLocation().getCity().getZipCode() }})
                                        </small></address></p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="container">
                        <div class="row">
                            <div class="col-12 m-5">
                                <div class="alert alert-warning text-center">
                                    <h3>Aucune sortie ne correspond à vos recherches...</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}


            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    <script scr="{{ asset('assets/js/search.js') }}"></script>
    <script src="{{ asset('assets/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/js/imagesloaded.pkgd.min.js') }}"></script>
{% endblock %}
