{% extends 'layout.html.twig' %}
{% form_theme searchFormView 'bootstrap_4_layout.html.twig' %}
{% block title %}Liste des sorties{% endblock %}

{% block body %}

    <div class="container-fluid search_container p-3">
        <div class="container text-center">
            <div class="logo_part py-4">
                <a class="" href="{{path('home')}}">
                    <img src="{{ asset('img/eni-sortir-white.png') }}" alt="ENI -> sortir" class="img-fluid">
                    <span class="d-none">Sortir.com</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-light">
        <div class="row">
            <div class="col-12 ">
                <div class=" Xfilter_container">
                    {{ form_start(searchFormView) }}
                    <div class="row">
                        <div class="col-12 col-md-3 form-group input-group-sm text-left">
                            <label for="tableSearch">Recherche</label>
                            <input class="form-control" id="tableSearch" type="text" placeholder="recherche...">
                        </div>

                        <div class="col-12 col-md-3 form-group input-group-sm text-left">
                            {{ form_label(searchFormView.site) }}
                            {{ form_widget(searchFormView.site) }}
                            {{ form_errors(searchFormView.site) }}
                        </div>
                        <div class="col-12 col-md-3 form-group input-group-sm text-left">
                            {{ form_label(searchFormView.dateStart) }}
                            {{ form_widget(searchFormView.dateStart) }}
                            {{ form_errors(searchFormView.dateStart) }}
                        </div>
                        <div class="col-12 col-md-3 form-group input-group-sm text-left">
                            {{ form_label(searchFormView.dateEnd) }}
                            {{ form_widget(searchFormView.dateEnd) }}
                            {{ form_errors(searchFormView.dateEnd) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-3 col-xl-1 offset-xl-8 form-group input-group-sm text-left check_part">
                            {{ form_label(searchFormView.TripOrganizer) }}
                            {{ form_widget(searchFormView.TripOrganizer) }}
                            {{ form_errors(searchFormView.TripOrganizer) }}
                        </div>
                        <div class="col-12 col-md-3 col-xl-1 form-group input-group-sm text-left check_part">
                            {{ form_label(searchFormView.TripRegistered) }}
                            {{ form_widget(searchFormView.TripRegistered) }}
                            {{ form_errors(searchFormView.TripRegistered) }}
                        </div>
                        <div class="col-12 col-md-3 col-xl-1 form-group input-group-sm text-left check_part">
                            {{ form_label(searchFormView.TripNotRegistered) }}
                            {{ form_widget(searchFormView.TripNotRegistered) }}
                            {{ form_errors(searchFormView.TripNotRegistered) }}
                        </div>
                        <div class="col-12 col-md-3 col-xl-1 form-group input-group-sm text-left check_part">
                            {{ form_label(searchFormView.TripPast) }}
                            {{ form_widget(searchFormView.TripPast) }}
                            {{ form_errors(searchFormView.TripPast) }}
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-12  {% if app.user.id is defined %}col-md-6 text-right{% else %} text-center {% endif %} ">
                            {{ form_end(searchFormView) }}
                        </div>

                        {% if app.user.id is defined %}
                            <div class="col-12 col-md-6 text-left">
                                <a class="btn-success btn" href="{{ path('trip_create') }}">Créer une sortie</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="" >
            <div class="grid">
                {% if allTrips|length > 0 %}
                    {% for trip in allTrips %}
                        {% if trip.category %}
                            {% set cat = trip.category.id %}
                        {% else %}
                            {% set cat = "default" %}
                        {% endif %}
                        {% if loop.first or loop.index is divisible by(9) %}
                            <div  class="col-12 col-sm-6 col-md-4 col-lg-3 p-2 grid-item  grid-item-add" >
                                <a href="{{ path('trip_create') }}" class="card  text-center p-2">
                                    <h3><i class="fas fa-map-marked-alt fa-2x"></i><span class="d-block mt-2">Créer votre sortie !</span></h3>
                                </a>
                            </div>
                        {% endif %}

                        <div id="trip_{{ trip.getId() }}" class="col-12 col-sm-6 col-md-6 col-xl-3 p-2 grid-item " >
                            <a href="{{ path('trip_detail',{ 'id': trip.id }) }}" class="card bg_white p-2">
                                <span class="overlay" style="background:url({{asset('img/categories/'~ cat ~'.jpg')}}) no-repeat center center /cover"></span>
                                <div class="content">
                                    <div class="items head">
                                        <h2>{{ trip.name }}</h2>
                                        <hr>
                                    </div>
                                    <div class="items body ">
                                        <p class="date text-dark">le {{ trip.getDateTimeStart()|date("l d M G:i") }}</p>
                                        <p class="new text-dark">{{ trip.getLocation().getName() }}<br><small>{{ trip.getLocation().getCity().getName() }}</small></p>
                                        <p class="users text-dark" data-toggle="tooltip" data-placement="top" title="nb mini : {{ trip.getNbRegistMin() }}">Participants : {{ trip.getUsers()|length }} / {{ trip.getNbRegistMax() }}</p>
                                        <p class="text-dark">{{ trip.state.info }}</p>
                                    </div>
                                    <p class="school text-left d-none"><small>{{ trip.getSchool().getName() }}</small></p>
                                    <p class="date text-center d-none">le {{ trip.getDateTimeStart()|date("l d M G:i") }}</p>
                                    <p class="address d-none"><address class="d-none"><small>
                                            {{ trip.getLocation().getName() }}<br>
                                            {{ trip.getLocation().getStreet() }}<br>
                                            {{ trip.getLocation().getCity().getName() }} ({{ trip.getLocation().getCity().getZipCode() }})
                                        </small></address></p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="container">
                        <div class="row">
                            <div class="col-12 m-5">
                                <div class="alert alert-warning text-center">
                                    <h3>Aucune sortie ne correspond à vos recherches...</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}


            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    <script scr="{{ asset('assets/js/search.js') }}"></script>
    <script src="{{ asset('assets/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/js/imagesloaded.pkgd.min.js') }}"></script>
{% endblock %}
