{% extends 'layout.html.twig' %}
{% form_theme searchFormView 'bootstrap_4_layout.html.twig' %}
{% block title %}Liste des sorties{% endblock %}

{% block body %}

    <div class="container-fluid search_container p-3">
        <div class="container text-center">
            <div class="logo_part py-4">
                <a class="" href="{{path('home')}}">
                    <img src="{{ asset('img/eni-sortir-white.png') }}" alt="ENI -> sortir" class="img-fluid">
                    <span class="d-none">Sortir.com</span>
                </a>
            </div>
        </div>
        <button class="d-block d-md-none btn btn-light filterBtn">Filtres</button>
    </div>
    <div class="container-fluid bg-light text-dark  d-none d-md-block filterBloc">
        {{ include('trip/inc/filters-db.html.twig') }}
    </div>
    <div class="container-fluid">
        <div class="" >
            <div class="grid">
                {% if allTrips|length > 0 %}
                    {% for trip in allTrips %}
                        {% if trip.category %}
                            {% set cat = trip.category.id %}
                        {% else %}
                            {% set cat = "default" %}
                        {% endif %}
                        {% if loop.first or loop.index is divisible by(9) %}
                            <div  class="col-12 col-sm-6 col-md-4 col-xl-3 p-2 grid-item  grid-item-add" >
                                <a href="{{ path('trip_create') }}" class="card  text-center p-2">
                                    <h3><i class="fas fa-map-marked-alt fa-2x"></i><span class="d-block mt-2">Créer votre sortie !</span></h3>
                                </a>
                            </div>
                        {% endif %}

                        <div id="trip_{{ trip.getId() }}" class="col-12 col-sm-6 col-md-4 col-xl-3 p-2 grid-item " >
                            <a href="{{ path('trip_detail',{ 'id': trip.id }) }}" class="card bg_white p-2">
                                <span class="overlay d-none d-lg-block" style="background:url({{asset('img/categories/'~ cat ~'.jpg')}}) no-repeat center center /cover">
                                     <div class="items head">
                                        <h3 class="orange">{{ trip.name }}</h3>
                                         <p class="text-center orange d-lg-block state">{{ trip.state.info }}</p>
                                    </div>
                                </span>
                                <div class="content">
                                    <span class="bg_cat d-block d-lg-none" style="background:url({{asset('img/categories/'~ cat ~'.jpg')}}) no-repeat center center /cover"></span>
                                    <div class="items head">
                                        <h2>{{ trip.name }}</h2>
                                        <hr>
                                        <small>{{ trip.getLocation().getCity().getName() }}</small>
                                    </div>
                                    <div class="items body text-center">
                                        <p class="date text-dark">Le {{ trip.getDateTimeStart()|format_datetime('full', 'none', locale='fr') }}</p>
                                        <p class="new text-dark d-none d-lg-block">{{ trip.getLocation().getName() }}<br></p>
                                        <p class="users text-dark d-none d-lg-block" data-toggle="tooltip" data-placement="top" title="nb mini : {{ trip.getNbRegistMin() }}"><b>{{ trip.getUsers()|length }}</b> inscrit(s)</p>
                                        <p class="text-dark d-none d-lg-block font-weight-bold">{{ trip.state.info }}</p>
                                    </div>
                                    <p class="school text-left d-none"><small>{{ trip.getSchool().getName() }}</small></p>
                                    <p class="date text-center d-none">le {{ trip.getDateTimeStart()|date("l d M G:i") }}</p>
                                    <p class="address d-none"><address class="d-none"><small>
                                            {{ trip.getLocation().getName() }}<br>
                                            {{ trip.getLocation().getStreet() }}<br>
                                            {{ trip.getLocation().getCity().getName() }} ({{ trip.getLocation().getCity().getZipCode() }})
                                        </small></address></p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="container">
                        <div class="row">
                            <div class="col-12 m-5">
                                <div class="alert alert-warning text-center">
                                    <h3>Aucune sortie ne correspond à vos recherches...</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}


            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    <script scr="{{ asset('assets/js/search.js') }}"></script>
    <script src="{{ asset('assets/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/js/imagesloaded.pkgd.min.js') }}"></script>
    <script>
        $('.filterBtn').click(function() {
            console.log('ok');
            $( ".filterBloc" ).toggleClass('d-none');
        });
    </script>
{% endblock %}
