{% extends 'layout.html.twig' %}
{% block title %}
    Liste des sorties
{% endblock %}
{% block body %}
    <div class="container search_container">
        <div class="row">
            <div class="col-12 p-5">
                <div class="card filters p-3">
                    <div class="row">
                        {{ include('trip/inc/filters.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="" >
            <div class="grid">
                {% for trip in allTrips %}
                    {% if app.user.id == trip.user.id %}
                    {% set organizer = "organizer" %}
                    {% else %}
                        {% set organizer = "" %}
                     {% endif %}
                    {% if trip.isSubscribed(app.user) %}
                        {% set subscribed = "subscribed" %}
                    {% else %}
                        {% set subscribed = "" %}
                    {% endif %}
                    {% if trip.tripPast(trip.state.id) %}
                        {% set tripStatus = "past" %}
                    {% else %}
                        {% set tripStatus = "futur" %}
                    {% endif %}

                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 p-2 grid-item school_{{ trip.getSchool().getId() }} {{ organizer }} {{ subscribed }} {{ tripStatus }}" >
                        <div class="card bg-light p-1">
                            <span >{{ trip.getSchool().getName() }}</span>
                            <h2>{{ trip.name }}</h2>
                            <p class="date_filter">{{ trip.getDateTimeStart()|date("d/m/Y") }}</p>
                            <p class="date">{{ trip.getDateTimeStart()|date("l d M G:i") }}</p>
                            <p class="users">{{ trip.getUsers()|length }} / {{ trip.getNbRegistMax() }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/js/isotope.pkgd.min.js') }}"></script>
    <script>
        // init Isotope
        var $grid = $('.grid').isotope({
            itemSelector: '.grid-item'
        });

        // store filter for each group
        var filters = {};

        $('.filters').on( 'click', '.button', function( event ) {
            var $button = $( event.currentTarget );
            // get group key
            var $buttonGroup = $button.parents('.button-group');
            var filterGroup = $buttonGroup.attr('data-filter-group');
            // set filter for group
            filters[ filterGroup ] = $button.attr('data-filter');
            // combine filters
            var filterValue = concatValues( filters );
            // set filter for Isotope
            $grid.isotope({ filter: filterValue });
        });

        // change is-checked class on buttons
        $('.button-group').each( function( i, buttonGroup ) {
            var $buttonGroup = $( buttonGroup );
            $buttonGroup.on( 'click', 'button', function( event ) {
                $buttonGroup.find('.is-checked').removeClass('is-checked');
                var $button = $( event.currentTarget );
                $button.addClass('is-checked');
            });
        });

        // flatten object by concatting values
        function concatValues( obj ) {
            var value = '';
            for ( var prop in obj ) {
                value += obj[ prop ];
            }
            return value;
        }

    </script>
{% endblock %}



