{% extends 'layout.html.twig' %}
{% block title %}
    Liste des sorties
{% endblock %}
{% block stylesheets %}
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}
{% block body %}
    <div class="container-fluid search_container p-3">
        <div class="container text-center">
            <div class="logo_part py-4">
            <a class="" href="{{path('home')}}">
                <img src="{{ asset('img/eni-sortir-white.png') }}" alt="ENI -> sortir" class="img-fluid">
                <span class="d-none">Sortir.com</span>
            </a>
            </div>
            <div class="row">
                <div class="col-12 ">
                    <div class="filter_container">
                        {{ include('trip/inc/filters.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="" >
            <div class="grid">
                {% for trip in allTrips %}
                    {% if app.user.id == trip.user.id %}
                        {% set organizer = "organizer" %}
                    {% else %}
                        {% set organizer = "" %}
                    {% endif %}
                    {% if trip.isSubscribed(app.user) %}
                        {% set subscribed = "subscribed" %}
                    {% else %}
                        {% set subscribed = "" %}
                    {% endif %}
                    {% if trip.tripPast(trip.state.id) %}
                        {% set tripStatus = "past" %}
                    {% else %}
                        {% set tripStatus = "futur" %}
                    {% endif %}
                    {% if trip.category %}
                        {% set cat = trip.category.id %}
                    {% else %}
                        {% set cat = "default" %}
                    {% endif %}
                    {%   set nb_item = "" %}
                    {% if  loop.index == 1 %}
                        {%   set nb_item = "first_elem" %}
                    {% elseif  loop.index ==2  %}
                        {%   set nb_item = "second_elem" %}
                    {% elseif  loop.index ==3  %}
                        {%   set nb_item = "third_elem" %}
                    {% endif %}


                    <div id="trip_{{ trip.getId() }}" class="col-12 col-sm-6 col-md-6 col-xl-3 p-2 grid-item school_{{ trip.getSchool().getId() }} {{ organizer }} {{ subscribed }} {{ tripStatus }} cat_{{ cat }} {{ nb_item }}" >
                        <a href="{{ path('trip_detail',{ 'id': trip.id }) }}" class="card bg_white p-2">
                            <span class="overlay" style="background:url({{asset('img/categories/'~ cat ~'.jpg')}}) no-repeat center center /cover"></span>
                            <div class="content">
                                <div class="items head">
                                    <h2>{{ trip.name }}</h2>
                                    <hr>
                                </div>
                                <div class="items body">
                                    <p class="date text-dark">le {{ trip.getDateTimeStart()|date("l d M G:i") }}</p>
                                    <p class="new text-dark">{{ trip.getLocation().getName() }}<br><small>{{ trip.getLocation().getCity().getName() }}</small></p>
                                    <p class="users text-dark" data-toggle="tooltip" data-placement="top" title="nb mini : {{ trip.getNbRegistMin() }}">Participants : {{ trip.getUsers()|length }} / {{ trip.getNbRegistMax() }}</p>
                                    <p class="text-dark font-weight-bold">{{ trip.state.info }}</p>
                                </div>
                                <p class="school text-left d-none"><small>{{ trip.getSchool().getName() }}</small></p>
                                <p class="date text-center d-none">le {{ trip.getDateTimeStart()|date("l d M G:i") }}</p>
                                <p class="address d-none"><address class="d-none"><small>
                                        {{ trip.getLocation().getName() }}<br>
                                        {{ trip.getLocation().getStreet() }}<br>
                                        {{ trip.getLocation().getCity().getName() }} ({{ trip.getLocation().getCity().getZipCode() }})
                                    </small></address></p>
                              </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

<div class="container-fluid p-0 mt-5 d-none">
    <div id="mapLoc"></div>
</div>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/js/imagesloaded.pkgd.min.js') }}"></script>

        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
        <script>
            var data =  JSON.parse(JSON.stringify({{data|raw}}));
            var geojson = {
                type: 'geojson',
                data: data,
            };
        </script>
{% endblock %}



