{% extends 'admin/admin-layout.html.twig' %}
{% block title %}
 Liste des lieux
{% endblock %}
{% block titre_page %}Lieux{% endblock %}
{% block breadcrumb %}Lieux{% endblock %}
{% block body %}
 <div class="container-fluid">
  <div class="card">
   <div class="card-body">

    <div class="table-responsive">
     <table id="locationTable" class="table table-bordered  table-hover">
      <thead class="thead-light">
      <tr>
       <th>#</th>
       <th>Nom</th>
       <th>Adresse</th>
       <th>Ville</th>
       <th>Latitude</th>
       <th>Longitude</th>
       <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {%  for location in allLocations %}
       <tr>
        <td>{{ location.id }}</td>
        <td>{{ location.name }}</td>
        <td>{{ location.street }}</td>
        <td>{{ location.city.name }}</td>
        <td>{{ location.latitude }}</td>
        <td>{{ location.longitude }}</td>
        <td><a href="{{ path('admin_location_update',{ 'id': location.id }) }}" class="btn btn-sm btn-outline-primary"><i class="fas fa-user-edit"></i></a></td>
       </tr>
      {% endfor %}
      </tbody>
     </table>
   </div>
   </div>
  </div>
 </div>
{% endblock %}



