{% extends 'base.html.twig' %}

{% block title %}Add user{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.school) }}
    {{ form_row(registrationForm.phone) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
