<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <meta name="msapplication-TileImage" content="{{ asset('assets/favicon/') }}/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/sortir.css') }}">
    <script src="https://kit.fontawesome.com/96225b8db3.js" crossorigin="anonymous"></script>





    {% block stylesheets %}{% endblock %}

</head>
<body>
{{ include('inc/navbar.html.twig') }}
{% block body %}{% endblock %}


<script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
