<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/sortir.css') }}">
    <script src="https://kit.fontawesome.com/96225b8db3.js" crossorigin="anonymous"></script>

    <script src="{{ asset('assets/js/holder.min.js') }}"></script>






    <nav>
        {% if app.user %} {#si je suis connecté#}
            <a href="{{path('logout')  }}">Déconnexion</a>
            <h1>Bienvenue {{ app.user.name }}</h1>

        {% else %}
            <a href="{{ path('login') }}">Connexion</a>

        {% endif %}
    </nav>











    {% block stylesheets %}{% endblock %}

</head>
<body>
{{ include ('inc/navbar.html.twig') }}


<div class="container">

{% block body %}{% endblock %}

</div>

<div class="alerts-container">
    {% for label, msgs in app.flashes %}
        {% for msg in msgs %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ msg }}
            </div>
        {% endfor %}
    {% endfor %}
</div>



<script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
