<div class="col-12 ">
<!-- select filter control -->
{#<select class="d-none"
        data-jplist-control="dropdown-filter"
        data-group="data-group-1"
        data-name="school">
    <option value="0" data-path="default" selected>Toutes</option>
    {% for school in allSchools %}
        <option value="{{ school.id }}" data-value="{{ school.id }}" data-path=".school_{{ school.id }}" >{{ school.name }}</option>
    {% endfor %}
</select>#}
    <div class="filters">
        <p class="d-none"><input type="text" class="quicksearch" placeholder="Recherche" /></p>
        <p id="output">--</p>
        <div class="ui-group p-2">
            <div class="button-group js-radio-button-group btn-group-sm btn-group" role="group" data-filter-group="school">
                <button class="button active btn btn-outline-primary btn-sm" data-filter="">Toutes</button>
                {% for school in allSchools %}
                    <button class="button btn btn-outline-primary btn-sm" data-filter=".school_{{ school.id }}">{{ school.name }}</button>
                {% endfor %}
            </div>
        </div>
        <div class="ui-group p-2">
            <div class="button-group js-radio-button-group btn-group-sm btn-group" role="group" data-filter-group="school">
                <button class="button active btn btn-outline-success btn-sm" data-filter="">Toutes</button>
                <button class="button btn btn-outline-success btn-sm" data-filter=".organizer">Organisateur ?</button>
                <button class="button btn btn-outline-success btn-sm" data-filter=".subscribed">Participant ?</button>
            </div>
        </div>
        <div class="ui-group p-2">
            <div class="button-group js-radio-button-group btn-group-sm btn-group" role="group" data-filter-group="school">
                <button class="button active btn btn-outline-success btn-sm" data-filter="">Toutes</button>
                <button class="button btn btn-outline-success btn-sm" data-filter=".past">Passées ?</button>
                <button class="button btn btn-outline-success btn-sm" data-filter=".futur">À venir ?</button>
            </div>
        </div>
    </div>
</div>