
<div class="filters ">
    <div class="row">
        <div class="ui-group col-12 col-md-2 offset-md-1 text-center filters-button-group" data-filter-group="school">
            <select class="form-control-sm select_filter" >
                <option class="button  btn btn-outline-primary btn-sm" value="*" data-filter="*" selected="selected">Toutes les écoles</option>
                {% for school in allSchools %}
                    <option class="button " value=".school_{{ school.id }}" data-filter=".school_{{ school.id }}">{{ school.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="ui-group col-12 col-md-2 text-center filters-button-group" data-filter-group="category">
            <select class="form-control-sm select_filter" >
                <option class="button " data-filter="*" value="*" selected="selected">Toutes les catégories</option>
                {% for category in allCategories %}
                    <option class="button " value=".cat_{{ category.id }}" data-filter=".cat_{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="ui-group  col-12 col-md-2 text-center filters-button-group" data-filter-group="oganize">
            <select class="form-control-sm select_filter">
                <option class="button  " data-filter="*" value="*" selected="selected">Participation</option>
                <option class="button " value=".organizer" data-filter=".organizer">J'organise</option>
                <option class="button " value=".subscribed" data-filter=".subscribed">Je participe</option>
            </select>
        </div>
        <div class="ui-group  col-12 col-md-2 text-center filters-button-group" data-filter-group="dates">
            <select class="form-control-sm select_filter" >
                <option class="button " data-filter="*" value="*" selected="selected">Toutes les dates</option>
                <option class="button" value=".past" data-filter=".past">Passées ?</option>
                <option class="button" value=".futur" data-filter=".futur">À venir ?</option>
            </select>
        </div>
        <p class="col-12 col-md-2 text-center"><input type="text" class="quicksearch form-control form-control-sm" placeholder="Recherche" /></p>
    </div>
</div>
