<div class="row">
    <div class="col-12 p-5">
        <div class=" Xfilter_container">
            {{ form_start(searchFormView) }}
            <div class="row ">
                <div class="col-12 col-sm-6 12 col-md-3 form-group input-group-sm text-left">
                    <label for="tableSearch">Recherche</label>
                    <input class="form-control" id="tableSearch" type="text" placeholder="recherche...">
                </div>

                <div class="col-12 col-sm-6 col-md-3 form-group input-group-sm text-left">
                    {{ form_label(searchFormView.site) }}
                    {{ form_widget(searchFormView.site) }}
                    {{ form_errors(searchFormView.site) }}
                </div>
                <div class="col-12 col-sm-6 col-md-3 form-group input-group-sm text-left">
                    {{ form_label(searchFormView.dateStart) }}
                    {{ form_widget(searchFormView.dateStart) }}
                    {{ form_errors(searchFormView.dateStart) }}
                </div>
                <div class="col-12 col-sm-6 col-md-3 form-group input-group-sm text-left">
                    {{ form_label(searchFormView.dateEnd) }}
                    {{ form_widget(searchFormView.dateEnd) }}
                    {{ form_errors(searchFormView.dateEnd) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3 col-xl-2 offset-xl-6 form-group input-group-sm text-left ">
                    {#  {{ form_label(searchFormView.TripOrganizer) }}#}
                    {{ form_widget(searchFormView.TripOrganizer) }}
                    {{ form_errors(searchFormView.TripOrganizer) }}
                </div>

                <div class="col-12 col-sm-6 col-md-3 col-xl-2 form-group input-group-sm text-left ">
                    {# {{ form_label(searchFormView.RadioOrNot) }}#}
                    {{ form_widget(searchFormView.RadioOrNot) }}
                    {{ form_errors(searchFormView.RadioOrNot) }}
                </div>

                <div class="col-12 col-sm-6 col-md-3 col-xl-2 form-group input-group-sm text-left check_part">
                    {# {{ form_label(searchFormView.TripPast) }}#}
                    {{ form_widget(searchFormView.TripPast) }}
                    {{ form_errors(searchFormView.TripPast) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12  text-center ">
                    {{ form_end(searchFormView) }}
                </div>
            </div>
        </div>
    </div>
</div>