{% extends 'layout.html.twig' %}

{% block title %}Profil Organisateur{% endblock %}

{% block body %}


    <div class="container">
        <div class="bloc">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">
                        Organisateur
                    </h3>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-12 col-md-6 offset-md-6 text-center text-md-right py-3">
                                {% if organizer.avatarName is not empty %}
                                    <img class="img-fluid"
                                         src="{{ asset('users/' ~ organizer.id ~ '/avatar/' ~ organizer.avatarName) }}">
                                {% else %}
                                    <img class="img-fluid" src="{{ asset('users/defaultAvatar/default-avatar.jpg') }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-12 col-md-6 text-center text-md-left py-3">
                                <dl>
                                    <dt>Prénom</dt>
                                    <dd>{{ organizer.firstname }}</dd>

                                    <dt>Nom</dt>
                                    <dd>{{ organizer.name }}</dd>

                                    <dt>Téléphone</dt>
                                    <dd>{{ organizer.phone }}</dd>

                                    <dt>Email</dt>
                                    <dd>{{ organizer.email }}</dd>

                                    <dt>Ecole de rattachement</dt>
                                    <dd>{{ organizer.school.name }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a class="btn neumorphism-1" href="{{ path('trip_list') }}">Retour</a>
                </div>
            </div>
        </div>
    </div>








    <script>

        $(document).ready(function () {
            var d = new Date();
            var n = d.getHours();
            if (n > 19 || n < 6)
                // If time is after 7PM or before 6AM, apply night theme to ‘body’
                document.body.className = "night";
            else if (n > 16 && n < 19)
                // If time is between 4PM – 7PM sunset theme to ‘body’
                document.body.className = "sunset";
            else
                // Else use ‘day’ theme
                document.body.className = "morning";
        });


    </script>














    {#<div class="container-fluid pt-5 mt-5">#}
    {#    <h3>Profil organisateur</h3>#}
    {#        <div class="row">#}
    {#            <div class="col-12 col-xl-6">#}
    {#                <div class="row">#}
    {#                    <div class="col-12 col-xl-6">#}
    {#                    {% if organizer.avatarName is not empty %}#}
    {#                        <img class="img-fluid" src="{{ asset('users/' ~ organizer.id ~ '/avatar/' ~ organizer.avatarName) }}">#}
    {#                            {% else %}#}
    {#                                <img class="img-fluid" src="{{ asset('users/defaultAvatar/default-avatar.jpg') }}">#}
    {#                    {% endif %}#}
    {#                    </div>#}
    {#                </div>#}
    {#    <div class="form_container">#}
    {#    <dl>#}
    {#        <dt>Prénom</dt>#}
    {#        <dd>{{ organizer.firstname }}</dd>#}

    {#        <dt>Nom</dt>#}
    {#        <dd>{{ organizer.name }}</dd>#}

    {#        <dt>Téléphone</dt>#}
    {#        <dd>{{ organizer.phone }}</dd>#}

    {#        <dt>Email</dt>#}
    {#        <dd>{{ organizer.email }}</dd>#}

    {#        <dt>Ecole de rattachement</dt>#}
    {#        <dd>{{ organizer.school.name }}</dd>#}
    {#    </dl>#}
    {#    </div>#}


    {#    <a class="btn btn-primary" href="{{ path('home') }}">Retour</a>#}



{% endblock %}