{% form_theme userFormView 'bootstrap_4_layout.html.twig' %}
{% form_theme uploadAvatarView 'bootstrap_4_layout.html.twig' %}

{% extends 'layout.html.twig' %}

{% block title %}PROFIL{% endblock %}

{% block body %}

<div class="container-fluid pt-5 mt-5">
    <h1>Mon  profil</h1>
    <div class="row">
        {{ form (uploadAvatarView) }}
        <div class="col-12 col-xl-6">
            <div class="row">
                <div class="col-12 col-xl-4">
            {% if app.user.avatar is not empty %}
            <img  class="img-fluid" src="{{ asset('users/' ~ app.user.id ~ '/avatar/' ~ app.user.avatar) }}">
                {% else %}
                <img class="img-fluid" src="{{ asset('users/defaultAvatar/default-avatar.jpg') }}">
            {% endif %}
                </div>
            </div>
            <div class="form_container">
            {{ form (userFormView) }}
                <a class="btn btn-secondary" href="{{path('home')  }}" >Annuler</a>
                <a class="btn btn-info" href="{{path('user_password')  }}" >Changer votre mot de passe</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}


